h1 {
    text-align: center;
    color: #0099CC;
    font-family: Sigmar One
}


h2, h3 {
    text-align: center;
    color: #0099CC;
    font-family: Sigmar One;
}

h4, h5, h6{
    text-align: left;
    font-family: Pacifico;
}

h7 {
    font-family: Calibri;
    font-size: 18;
    font-style: bold;
}

p {
    font-size: 14px;
    text-align: left;
    font-family: Garamond;
}

hr {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: #00CCCC;
    border-width: 3px;
}

.member{
    color: black;
    font-family: Calibri;
    font-size: 10;
}
#directory {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

li {
    font-family: Verdana;
    margin-top: 4px;
    padding: auto;
    float: left;
    text-align: center;
}

#tab-contents {
    font-family: Calibri;
    font-size: 24px;
}

#upcoming-events {
    max-height: 490px;
    overflow-y: scroll;
}

.small-7-columns {
    text-align: center;
}

li.tab a {
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    background-color: #00CCCC;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #00CCCC;
}

li.tab a:hover {
    background-color: #0099CC;
}